* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
.long {
    text-align: center;
}

.inner {
    display: flex;
    justify-content: center;
}

.bottom {
    margin-bottom: 1em;
}

button {
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 12px;
    font-size: 24px;
    padding: 0em 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 4px;
}

button:hover {
    background-color: #5ec6f0;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
    font-size: 16px;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
}



/* Use overflow:scroll on your container to enable scrolling: */

div.container {
    max-width: 400px;
    max-height: 150px;
    overflow: scroll;
}


/* Use position: sticky to have it stick to the edge
   * and top, right, or left to choose which edge to stick to: */

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
    left: 0;
    z-index: 2;
}


/* Just to display it nicely: */

thead th {
    background: #000;
    color: #FFF;
    /* Ensure this stays above the emulated border right in tbody th {}: */
    z-index: 1;
}

tbody th {
    background: #FFF;
    border-right: 1px solid #CCC;
    /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
    box-shadow: 1px 0 0 0 #ccc;
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #CCC;
    padding: 0.5em;
    font-size: 16px;
}


ol {
    counter-reset: item;
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0;
}

ol>li {
    counter-increment: item;
    margin-bottom: 0px;
}

ol>li:before {
    content: counters(item, ".") ". ";
    font-weight: bold;
    margin-right: 5px;
}

a.player {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.round-number {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 1.25em;
}

#show_hide {
    margin-bottom: 0;
}