* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #007bff;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --button-color: #ffffff;
    --button-hover-color: #5ec6f0;
    --button-border-color: #000000;
}

.light {
    --bg-color: #ffffff;
    --text-color: #312e2b;
    --link-color: #007bff;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --button-color: #ffffff;
    --button-hover-color: #f0f0f0;
    --button-border-color: #ffffff;
    --button-shadow-color: #c7c6c5;
}

.dark {
    --bg-color: #312e2b;
    --text-color: #ffffff;
    --link-color: #00bfff;
    --shadow-color: rgba(255, 255, 255, 0.3);
    --button-color: #272522;
    --button-hover-color: #3b3936;
    --button-border-color: #272522;
    --button-shadow-color: #1d1c1a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

h1,
.long {
    text-align: center;
}

.inner {
    display: flex;
    justify-content: center;
}

.bottom {
    margin-bottom: 1em;
}

button {
    transition-duration: 0.4s;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 8px;
    font-size: 24px;
    padding: 0.1em 0.5em;
    border: 0px solid var(--text-color);
    margin: 4px;
    cursor: pointer;
    box-shadow: 0px 6px 0px var(--button-shadow-color);
}

button:hover {
    background-color: var(--button-hover-color);
    /* color: var(--text-color); */
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}

#theme {
    font-size: 24px;
    height: 48px;
    width: 48px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

input {
    font-size: 16px;
    border-radius: 12px;
    padding: 0.1em 0.5em;
    margin: 4px;
    background-color: var(--button-hover-color);
    color: var(--text-color);
    border: 1px solid var(--button-shadow-color);
}



/* Use overflow:scroll on your container to enable scrolling: */

div.container {
    max-width: 400px;
    max-height: 150px;
    overflow: scroll;
}


/* Use position: sticky to have it stick to the edge
   * and top, right, or left to choose which edge to stick to: */

thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
}

tbody th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
    left: 0;
    z-index: 2;
}


/* Just to display it nicely: */

thead th {
    background: #000;
    color: #FFF;
    /* Ensure this stays above the emulated border right in tbody th {}: */
    z-index: 1;
}

tbody th {
    background: var(--button-shadow-color);
    font-weight: 512;
    /* border-right: 1px solid #CCC; */
    /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
    /* box-shadow: 1px 0 0 0 #ccc; */
}

table {
    border-radius: 8px !important;
    /* border: 1px solid #CCC; */
    /* border-collapse: collapse; */
}

td,
th {
    /* border: 1px solid #CCC; */
    background-color: var(--button-color);
    padding: 0.5em;
    font-size: 16px;
}

/* Light mode */
/* .light-mode {
    background-color: #fff;
    color: #333;
} */

.light td.win {
    background-color: rgb(198, 239, 206);
    /* green */
    color: #006100;
}

.light td.loss {
    background-color: rgb(255, 199, 206);
    /* red */
    color: #9c0006;
}

.light td.tie {
    background-color: rgb(255, 235, 156);
    /* yellow */
    color: #9c5700;
}

/* Dark mode */
/* .dark-mode {
    background-color: #000;
    color: #eee;
} */

.dark td.win {
    background-color: rgba(0, 97, 0, 0.5);
    /* dark green */
    color: #c6efce;
}

.dark td.loss {
    background-color: rgba(156, 0, 6, 0.5);
    /* dark red */
    color: #ffc7ce;
}

.dark td.tie {
    background-color: rgba(156, 87, 0, 0.5);
    /* dark yellow */
    color: #ffeb9c;
}




ol {
    counter-reset: item;
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0;
}

ol>li {
    counter-increment: item;
    margin-bottom: 0px;
}

ol>li:before {
    content: counters(item, ".") ". ";
    font-weight: bold;
    margin-right: 5px;
}

a.player {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.round-number {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 1.25em;
}

#show_hide {
    margin-bottom: 0;
}

/* Popup styles */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px var(--shadow-color);
}